body {
    background: url(geometric-natural-embroidery.jpg);
    background-size: 70%;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

#sky {
    background: linear-gradient(rgb(210, 132, 15),rgba(238, 106, 106, 0.987), rgb(221, 221, 213));
    height: 60%;
    width: 100%;
}

#sun {
    font-size: 60px;
    position: absolute;
    top: 20px;
    left: 50px;
}

#building-1 {
    background: white;
    height: 100px;
    width: 120px;
    position: absolute;
    top: 300px;
    left: 50px;
    z-index: 10;

}

#roof-1 {
    border-bottom: 45px solid rgba(130, 102, 102, 0.989);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    bottom: 45px;
    
}

#eiffel-tower {
    height: 500px;
    width: 230px;
    position: absolute;
    bottom: 220px;
    left: 190px;
}

#building-2 {
    background: white;
    height: 100px;
    width: 120px;
    position: absolute;
    top: 300px;
    right: 20px;
    z-index: 10;
}
#roof-2 {
    border-bottom: 45px solid rgba(130, 102, 102, 0.989);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    bottom: 45px;
    
}
#trees {
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 250px;
    right: 300px;
}
#trees-2 {
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 250px;
    left: 330px;
}
#trees-3 {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 350px;
    left: 360px;
    z-index: 10;
}
#trees-4 {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 350px;
    right: 320px;
    z-index: 10;
}
